<!DOCTYPE html>
    <%- include('../partials/head'); %>
    <body class="container pt-5">
        <%- include('../partials/header', {pagina: 'Sobre'}); %>
        <main>

            <div class="bg-secondary bg-gradient p-3 bg-opacity-25">
                <h1>Sobre mim</h1>
                <p>Oi sou Débora Amaral aprendiz de programção, pela rocketseat !</p>
            </div>

        </main>
        <%- include('../partials/footer'); %>
    </body>
</html>